@model Northwind.EntityModels.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div class="card shadow w-75 mx-auto mt-4">
        <div class="card-header">
            <h3 class="card-title">Edit Employee</h3>
        </div>
        <div class="row card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="col-md-6 form-group mb-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="TitleOfCourtesy" class="control-label"></label>
                <input asp-for="TitleOfCourtesy" class="form-control" />
                <span asp-validation-for="TitleOfCourtesy" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" id="BirthDate" type="text" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" id="HireDate" type="text" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="ReportsTo" class="control-label"></label>
                <input asp-for="ReportsTo" class="form-control" />
                <span asp-validation-for="ReportsTo" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <a class="btn btn-light btn-sm" asp-action="Index">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(() => {
            initDatePicker("#BirthDate");
            initDatePicker("#HireDate");
        });
    </script>
}
