@model Northwind.EntityModels.Supplier

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <div class="card shadow w-75 mx-auto mt-4">
        <div class="card-header">
            <h3 class="card-title">Create Supplier</h3>
        </div>
        <div class="row card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="ContactTitle" class="control-label"></label>
                <input asp-for="ContactTitle" class="form-control" />
                <span asp-validation-for="ContactTitle" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group mb-2">
                <label asp-for="HomePage" class="control-label"></label>
                <input asp-for="HomePage" class="form-control" />
                <span asp-validation-for="HomePage" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <a class="btn btn-light btn-sm" asp-action="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
